*{
    margin: 0;
    padding: 0;
    font-family: 'norm';
  }
  ::selection{
    color: #01ffff;
    background-color: rgb(220, 220, 220);
  }
  body{
    overflow-x: hidden;
    position: relative;
    background-color: white ;
  }
  .no-scroll {
    overflow: hidden;
}
  a{
    text-decoration: none;
    color: black;
  }
  @font-face {
    font-family: 'norm';
    src: url('./assets/fonts/norm.ttf');
    font-weight: normal;
  }
  @font-face {
    font-family: 'heading';
    src: url('./assets/fonts/PTSans-Bold.ttf');
    font-weight: normal;
  }
  @font-face {
    font-family: 'head';
    src: url('./assets/fonts/Oswald-Bold.ttf');
    font-weight: normal;
  }
  @font-face {
    font-family: 'marquee';
    src: url('./assets/fonts/marquee.ttf');
    font-weight: normal;
  }
  .no-scroll {
    overflow: hidden;
}

  .hrline{
     width: 100%; 
    height: 1px; 
    background-color: rgb(142, 142, 142);
  }
  /* .vrline{
    height: 100%;
    width: 2px; 
    background-color: rgb(142, 142, 142);
  }  */
  #nav-model{
    width: 40vw;
    height: 100vh;
    backdrop-filter: 30px;
    background-color: rgba(255, 255, 255, 0.792);
    right: -40vw;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 999;
    position: absolute;
  }
  #nav-model-res{
    width: 100vw;
    height: 100vh;
    backdrop-filter: 30px;
    background-color: rgba(255, 255, 255, 0.792);
    right: -100vw;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 999;
    position: absolute;
  }
  #nav-model-content{
    display: flex;
    flex-direction: column;
    gap: 3vw;
    padding: 5vw;
  }
  
  #nav-model-content h4{
    font-size: 3vw;
    text-decoration: underline;
    text-transform: uppercase;
  }
  #nav-model-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1vw 3vw;
  }
  #nav-model-heading img{
    width: 14vw;

  }
  .close{
    font-size: 2.5vw;
    background-color: rgb(223, 223, 223);
    cursor: pointer;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #page1{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(337deg, rgba(255,255,255,1) 64%, rgb(242, 242, 242,1) 100%);

  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: 1vw 7vw;
    align-items: center;
  }
  #left-nav{
    text-transform: uppercase;
    width: 30%;
  }
  #left-nav img{
    width: 80%;
  }
  h1{
    font-family: 'heading';
    font-weight: 400;
    font-size: 3vw;
    letter-spacing: -.1vw;
  }
  #center-nav{
    display: flex;
    gap: 2vw;
    text-transform: uppercase;
    font-size: 1.4vw;
    align-items: center;
  }
  #center-nav a{
    color: black;
  }
  #center-nav h4{
    text-decoration: underline;
    font-weight: 400;
  }
  #right-nav{
    display: flex;
    width: 30%;
    gap: 2vw;
    font-size: 2vw;
    justify-content: end;
  }
  #page1-main{
    height: 72%;
    padding: 0 6vw;
    display: flex;
  }
  #page1-main h2{
    font-size: 9vw;
    text-transform: uppercase;
    font-family: 'head';
    white-space: nowrap;
    letter-spacing: -.6vw;
    line-height: 10vw;
  }
  #page1-main-text{
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 4vw;
  }
  #page1-main-text img{
    width: 18vw;
  }
  #page1-main-text-res img{
    width: 18vw;
  }
  .start-project{
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 1.6vw;
    border: none;
    outline: none;
    background-color: #ff54c9;
    border-radius: 30px;
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
    padding: 10px 12px;
    color: white;
    width: 300px;
    justify-content: center;
    transition: all ease 0.2s;
  }
  .rightArr{
    transition: all ease 0.2s;
  }
  .start-project:hover .rightArr{
    rotate: -45deg;
    scale: 1.2;
  }
  .start-project:hover{
    scale: 1.02;
  }
  .plumber{
    color: #01ffff;
    font-weight: 400;
    font-family: 'head';
  }
  #marquee-container{
    display: flex;
    overflow-x: hidden;
  }
  .marquee{
    display: flex;
    animation: anime1 15s linear infinite forwards;
    gap: 5vw;
    padding: 0 2vw;
  }
  .marquee h4{
    font-size: 25vw;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    font-family: 'marquee';
  }
  #page2{
    width: 100vw;
    min-height: 100vh;
    margin-top: 18vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }
  #page2-heading{
    font-size: 3vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-transform: capitalize;
    font-weight: 400;
  }
  .service{
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: all ease 0.3s;
  }
  .service img{
    transition: all ease 0.3s;
    opacity: 1;
    background-position: center;
    object-fit: cover;
    width: 100%;
  }
  
  .service-text{
    position: absolute;
    z-index: 9;
    bottom: 0;
    display: flex;
    flex-direction: column;
    color: black;
    gap: 1vw;
    padding: 1vw;
    opacity: 0;
    transition: all ease 0.3s;
  }
  .service:hover .service-text{
    opacity: 1;
  }
  .service:hover img{
    opacity: .4;
  }
  .service-text h2{
    text-transform: capitalize;
    font-size: 2vw;
  }
  .service-text p{
    font-size: 1.2vw;
    font-weight: 500;
  }
  .service:hover img{
    scale: 1.06;
  }
  #page2-main{
    display: flex;
    gap: 10vw;
    flex-direction: column;
  }
  #upper-service{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  #lower-service{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  #page3,#page5{
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  #page3-container,#page5-container{
    width: 95%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
  }
  #page3 h2,#page5 h2{
    font-size: 2vw;
    text-transform: capitalize;
    color: #444444;
    font-weight: 400;
    margin-bottom: 1vw;
  }
  #page3 p,#page5 p{
    margin-top: 1vw;
    font-size: 4vw;
  }
  #page3-content,#page5-content{
    display: flex;
    gap: 2vw;
    align-items: center;
    flex-direction: column;
  }
  #page4 {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-bottom: 30vw;
  }
  i{
    cursor: pointer;
    font-size: 2vw;
  }
  #page4 h4{
    font-size: 2vw;
    padding: 1vw;
    padding-left: 2vw;
    opacity: 0.8;
    font-weight: 400;
  }
  #page4-content{
    display: flex;
    flex-direction: column;
  }
  #page4-heading{
    display: flex;
    margin-top: 2vw;
    align-items: center;
  }
  .project {
    border-bottom: 1px solid #bababa;
    cursor: pointer;
    display: flex;
    cursor: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
  }
  .project p{
    font-size: 2.5vw;
    padding: 2vw;
    position: relative;
    z-index: 99;
  }
  
  .project h5 {
    font-size: 1.5vw;
    font-weight: 500;
    padding-right: 2vw;
    z-index: 100; /* Ensure the text is above the pseudo-element */
    position: relative;
    z-index: 99;
  }
  #video-container{
    border-radius: 15px;
    aspect-ratio: 16/9;
    width: 40vw;
    position: fixed;
    top: 50%;
    left: 60%;
    z-index: 999;
    transform: translate(-50%,-50%);
    overflow: hidden;
  }
#visit-cursor{
    cursor: none;
    text-transform: capitalize;
    width: 120px;
    height: 120px;
    border: 1px solid #ff54c9;
    z-index: 99;
    scale: 0;
    opacity: 0;
    border-radius: 50%;
    position: fixed;
    background-color: #ff54c9;
    color: white;
}

#visit-cursor p {
    position: absolute;
    bottom: 25%;
    left: 25%;
    font-size: 1.6vw;
}
#visit-cursor i {
    position: absolute;
    z-index: 99;
    color: black;
    top: 15%;
    color: white;
    right: 15%;
    z-index: 9;
    font-size: 1.5vw;
    font-weight: 300;
}
  .project::before {
    content: "";
    background-color: #01ffff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 99;
  }
  
  .project:hover::before {
    transform: translateY(0);
  }
  #project-btn:hover{
    background-color: #ff54c9;
    border: 1px solid #ff54c9;
    scale: 1.05;
    color: white;
  }
  #project-btn{
    font-size: 1.6vw;
    transition: all ease 0.3s;
    background-color: rgb(247, 247, 247);
    border: 1px solid #2e2e2e;
    border-radius: 30px;
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
    padding: 10px 12px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
  }
  #page6{
    width: 100vw;
    min-height: 100vh;
    position: relative;
  }
  #page6-heading{
    font-size: 3vw;
    padding: 1vw 2vw;
  }
  #page6-content{
    display: flex;
    flex-direction: column;
    gap: 4vw;
    padding: 1vw 2vw;
    margin-bottom: 10vw;
  }
  .faq-heading{
    display: flex;
    align-items: center;
    font-size: 2vw;
    gap: 1vw;
    color: #444444;
  }
  .faq p{
    font-size: 2.5vw;
  }
  .faq{
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  #footer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  #top-footer{
    display: flex;
    justify-content: space-between;
    height: 35%;
  }
  #left-footer{
    display: flex;
    flex-direction: column;
    padding: 2vw;
  }
  #right-footer{
    padding: 2vw;
  }
  #right-footer h5{
    font-size: 1.8vw;
    font-weight: 300;
  }
  #left-footer h4{
    text-decoration: underline;
    font-size: 2vw;
    font-weight: 300;
  }
  #left-footer a{
    text-decoration: none;
    color: black;
  }
  #bottom-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  #name{
    white-space: nowrap;
    text-transform: uppercase;
    color: #01ffff;
  }
  #name  h2{
    font-size: 19vw;
    letter-spacing: -10px;
    font-weight: 400;
    font-family: 'head';
  }
  #name h2 img{
    width: 60vw;
  }
  #links{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 10vh;
    align-items: center;
  }
  #links h4{
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1.4vw;
    font-weight: 300;
    text-decoration: underline;
  }
  #contact-model{
    border: 1px solid black;
    border-radius: 8px;
    position: absolute;
    top: 2vw;
    left: 50%;
    transform: translate(-50%);
    z-index: 99;
    background-color: white;
    width: 90%;
    height: 90vh;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vw;
    padding: 5vw 10vw;
  }
  form h2{
    text-transform: uppercase;

    font-size: 3vw;
  }
  form input, form textarea{
    font-size: 1.6vw;
    padding: 10px 12px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
  }
  form button{
    font-size: 1.6vw;
    padding: 10px 12px;
    background-color: #01ffff;
    outline: none;
    border: none;
    border-radius: 5px;
    color: black;
  }
  @keyframes anime1 {
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
  }
  #page1-main-text-res{
    display: none;
  }
  #page2-main-res{
    display: none;
  }
  .navline{
    display: none ;
  }
  #nav-model-res{
    display: none;
  }
  @media screen and (max-width:1000px) {
    #page1-main h2{
      line-height: 12vw;
    }
    #visit-cursor{
      width: 8vw;
      height: 8vw;
    }
    #name h2{
      font-size: 18vw;
      line-height: 35vw;
    }
    .start-project{
      width: 250px;
    }
    .marquee{
      padding-top: 5vw;
    }
    #page4{
      margin-bottom: 0;
    }
  }
  @media screen and (max-width:900px) {
    nav{
      padding: 2vw 5vw;
    }
    #center-nav h4{
      font-size: 2vw;
    }
    #page1-main h2{
      line-height: 20vw;
    }
    .start-project{
      margin-top: 5vw;
      font-size: 2vw;
    }
    .service-text h2{
      font-size: 2.6vw;
    }
    .service-text p{
      font-size: 1.6vw;
    }
    #page3 h2,#page5 h2{
      font-size: 3vw;
      margin-bottom: 2vw;
    }
    #page3 p,#page5 p{
      margin-top: 4vw;
      font-size: 5vw;
    }
    .service{
      width: 30vw;
      height: 30vw;
    }
   #page2-heading{
      font-size: 4vw;
    }
    #page4 h4{
      font-size: 3vw;
    }
    .project p {
      font-size: 3vw;
    }
    #project-btn{
      width: 200px;
    }
    #left-footer h4{
      font-size: 3vw;
    }
    #right-footer h5{
      font-size: 2.5vw;
    }
    #links h4{
      font-size: 2vw;
    }
    #name h2{
      font-family: 'marquee';
      font-size: 33vw;
      letter-spacing: 0;
      line-height: 40vw;
    }
    #page1-main-text-res{
      display: block;
    }
    #page1-main-text-res h2{
      font-size: 12vw;
      line-height: 12vw;
      font-family: 'head';
    }
    #page1-main-text{
      display: none;
    }
    .marquee{
      padding-top: 2vw;
    }
}
  @media screen and (max-width:800px) {
      .marquee{
        padding-top: 5vw;
        /* background-color: blue; */
      }
      .service-text h2{
        font-size: 3vw;
      }
      .service-text p{
        font-size: 1.8vw;
      }
      .project p {
        font-size: 4vw;
      }
      #project-btn{
        font-size: 2.5vw;
      }
      #page4{
        margin-bottom: 5vw;
      }
      #name h2{
        font-size: 34vw;
      }
      #name{
        margin-bottom: 5vw;
      }
  }
  @media screen and (max-width:700px) {
    #page1-main h2{
      line-height: 15vw;
    }
    .start-project{
      font-size: 3vw;
    }
    .marquee h4{
      font-size: 30vw;
    }
    #visit-cursor{
      width: 12vw;
      height: 12vw;
    }
    #visit-cursor p{
      font-size: 2.5vw;
    }
    .faq h4,i{
      font-size: 3vw;
    }
    .faq p{
      font-size: 4vw;
    }
    .faq{
      margin-bottom: 5vw;
    }
    #name{
      margin-bottom: 12vw;
    }
    #left-footer h4{
      font-size: 8vw;
    }
    #right-footer h5{
      font-size: 7vw;
    }
    #links h4{
      font-size: 4vw;
    }
    #page2-main{
      display: none;
    }
    #page2-main-res{
      display: grid;
      grid-template-columns:1fr;
      place-items: center;
    }
    .service{
      margin-bottom: 5vw;
      width: 80vw;
      height: 80vw;
    }
    .service-text{
      opacity: 1;
    }
    .service-text h2{
      font-size: 8vw;
    }
    .service-text p{
      font-size: 4vw;
    }
    #page3 h2,#page5 h2{
      font-size: 8vw;
      margin-bottom: 2vw;
    }
    #page3 p,#page5 p{
      margin-top: 4vw;
      font-size: 7vw;
    }
    #top-footer{
      padding: 6vw;
    }
    .navline{
      display: block;
    }
    footer{
      height: 70vh;
    }
}
  @media screen and (max-width:600px) {
      #nav-model-res{
        display: block;
      }
      #nav-model{
        display: none;
      }
      #center-nav{
        display: none;
      }
      #page1{
        height: 100vh;
      }
      .marquee h4{
        font-size: 45vw;
      }
      .marquee{
        padding-top: 0;
      }
      #page1-main h2{
        line-height: 20vw;
      }
      nav{
        margin-bottom: 5vw;
      }
      h1{
        font-size: 4vw;
      }
      #right-nav i{
        font-size: 4vw;
      }
      .start-project{
        gap: 3vw;
      }
      .project p {
        padding: 4vw;
        font-size: 4vw;
      }
      .project h5{
        font-size: 2.4vw;
      }
      #page4{
        margin-bottom: 15vw;
      }
      #project-btn{
        margin-top: 3vw;
      }

      #name{
        margin-top: 20vw;
      }
      #top-footer{
        display: flex;
        flex-direction: column;
      }
      h1{
        font-size: 7vw;
      }
      #left-nav{
        width: auto;
      }
      #right-nav i{
        font-size: 5vw;
      }
      #page1-main-text-res h2{
        line-height: 22vw;
      }
      .start-project{
        font-size: 4vw;
      }
      .start-project i{
        font-size: 4vw;
      }
      #page2-heading{
        font-size: 6vw;
      }
      .service p{
        font-size: 2.5vw;
      }
      #page4 h4{
        font-size: 5vw;
      }
      .project p{
        font-size: 5vw;
      }
      #project-btn{
        font-size: 4vw;
      }
      #page6-heading{
        font-size: 5vw;
      }
      #page6-content h4,#page6-content i{
        font-size: 4vw;
      }
      #name{
        margin-top: 25vw;
      }
      nav{
        margin-bottom: 0;
      }
      .navline{
        margin-bottom: 10vw;
      }
      #nav-model-content h4{
        font-size: 8vw;
      }
      #nav-model-content{
        gap: 7vw;
      }
      #nav-model-heading img{
        width: 25vw;
      }
      .close{
        width: 12vw;
        height: 12vw;
      }
  }
  @media screen and (max-width:500px) {
      #page1-main-text-res h2{
        font-size: 16vw;
        line-height: 25vw;
        font-family: 'head';
        white-space: wrap;
      }
      #page2-heading{
        display: flex;
        text-align: center;
      }
      #page3,#page4{
        height: 70vh;
      }
      #page1-main-text-res h2 img{
        width: 30vw;
      }
      #page1-main{
        padding: 2vw 2vw;
      }
      .start-project{
        width: 200px;
      }
      .start-project h2, .start-project i{
        font-size: 5vw;
      }
      #name h2{
        font-size: 100vw;
      }
      #name h2 img{
        width: 95vw;
      }
      #name{
        margin-bottom: 20vw;
      }
  }